doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.3fe0a7bb7e77c202eb702b5ee94e6d20.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.37b37c6d5799471e4a87.js')
    script(type='text/javascript', src='/static/js/vendor.9443f592a452c99d84ff.js')
    script(type='text/javascript', src='/static/js/app.eb24f4c68f88ea3337cf.js')
