doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.7738383c1b39e847b078c1e5155502d6.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.e1747cdd9fe44726ed50.js')
    script(type='text/javascript', src='/static/js/vendor.e1e70069c59d89c140a0.js')
    script(type='text/javascript', src='/static/js/app.ae0e3f1484d1c0562c92.js')
