doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.ff71bc88a34c972db8be0fc91e4b1c3a.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.575d9b37dc94248b5f10.js')
    script(type='text/javascript', src='/static/js/vendor.31e8b5360bbb3787b00e.js')
    script(type='text/javascript', src='/static/js/app.c38066aab834e1284262.js')
