doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.3fe0a7bb7e77c202eb702b5ee94e6d20.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.48dac0ed56a3e70d5bba.js')
    script(type='text/javascript', src='/static/js/vendor.9443f592a452c99d84ff.js')
    script(type='text/javascript', src='/static/js/app.64555abedf72c6e45e66.js')
