doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.e61f3813ee4d70e2f5dfb4b5c1638d2b.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.52d2ccebf4dd54e4af41.js')
    script(type='text/javascript', src='/static/js/vendor.9443f592a452c99d84ff.js')
    script(type='text/javascript', src='/static/js/app.841d9539d0b161b2f894.js')
