doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.af86645c43ba4c9930190801e9d2b868.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.e1ec3dd8126991e1edfa.js')
    script(type='text/javascript', src='/static/js/vendor.9443f592a452c99d84ff.js')
    script(type='text/javascript', src='/static/js/app.7ba86a96c02dfaf14b06.js')
