doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.ccead69583dfa90c16129076780291c2.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.7e55b2368cd43f09f4da.js')
    script(type='text/javascript', src='/static/js/vendor.806cd4198f03cb45d608.js')
    script(type='text/javascript', src='/static/js/app.376dae92e47a5d229a0e.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-104438901-1', 'auto');
      ga('send', 'pageview');

