doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.3fe0a7bb7e77c202eb702b5ee94e6d20.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.a2cb6d23968f96a1c40a.js')
    script(type='text/javascript', src='/static/js/vendor.9443f592a452c99d84ff.js')
    script(type='text/javascript', src='/static/js/app.ad0ed7bfc31faf9e91ed.js')
