doctype html
html
  head
    meta(charset='utf-8')
    title simple-webapps-spa
    link(href='/static/css/app.b0c1a26accf71f38cc3cef12356e7279.css', rel='stylesheet')
  body
    #app
    script(type='text/javascript', src='/static/js/manifest.3871971042e6a4cc75b9.js')
    script(type='text/javascript', src='/static/js/vendor.671c3f53456a5597b5d1.js')
    script(type='text/javascript', src='/static/js/app.cd9cd3e2462eb2bb9527.js')


//- 
//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
